<!DOCTYPE html>
<html>
<head>
  <title>Secret Santa</title>

  <!-- Little Icon On Tab -->
  <link rel="shortcut icon" type="image/png" href="http://www.woodus.com/den/gallery/graphics/dq9ds/head/santas_hat.png">

  <link href="normalize.css" rel="stylesheet" type="text/css">
  <link href="skeleton.css" rel="stylesheet" type="text/css">

    <%= stylesheet_link_tag "application", 'http://fonts.googleapis.com/css?family=Mountains+of+Christmas', :media => "all" %> 
    <%= stylesheet_link_tag "application", 'http://fonts.googleapis.com/css?family=Lobster', :media => "all" %> 

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<!-- SNOW FALL JS -->
<script src="snowstorm.js"></script>



</head>
<body>

  <header>
   <h1>Santa Help.R</h1>
  </header>



		<div class = "website_note">
    Santa needs your help! The elves are overwhelmed at the workshop
		and fears he is unable to deliver the presents in time. Can you please
		help him? Fill in the forms below with the information about your
		Secret Santa Exchange Party. We will take care who you are suppose to buy
		presents for!
    </div>
	
	<br><br>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>






	
<div class="party_containers">
  <div class="party">
    <h3>Party Deets</h3>
    PARTY ORGANISER NAME<input type="text" class="organiser_name" placeholder="NAME OF ORGANIZER" />
    PARTY ORGANISER EMAIL<input type="email" class="organiser_email" placeholder="EMAIL OF ORGANIZER" /><Br>
    PARTY NAME<input type="text" class="party_name" placeholder="PARTY NAME" />
    DATE OF PARTY <input type="date">
    
    <label for="fader">PRICE OF GIFT</label>
    <input type="range" min=0 max=100 value=0 id="fader" step=1 onchange="outputUpdate(value)">
    <output for="fader" id="price">0</output>

  <br>
    MESSAGE <textarea cols="80" rows="10" placeholder="Enter a message"></textarea>
  
  </div><!-- .party  -->
</div> <!--./party_containers -->


 <h3>ADD SECRET SANTAS</h3>
  <div class="row_containers">
    <div class="row">
   
      <input type="text" class="participant_name" placeholder='ENTER FULL NAME'/>

      <input type="text" class="participant_email" placeholder='EMAIL'/>
      <a href="#" class="add_name">Add name</a>
    </div> <!-- .row -->
  </div> <!-- ./row_containers -->

  <a href="#" id="submitNames">Submit</a>

	<br>




<div class="container">

  <%= yield %>

</div>

<!-- REINDEER MOVING -->
<div id="animatedImage" style="position:fixed;padding-top:550px;z-index:99;left:1px;bottom:1px;">

 <!-- <img id="img1" src="http://www.netanimations.net/Animated_santa_reindeer_flying.gif" alt="animatedImage" /> -->
 <img id="img1" src="https://33.media.tumblr.com/01e7b577cebeba1cc3f3bdcb0e8d54a3/tumblr_nf7qxyWhJ31tcl6yio1_500.gif" alt="animatedImage" style="height: 120px" />

 <img id="img1" src="https://38.media.tumblr.com/80a93f18b4349c45d30bc70d2b87b594/tumblr_mfm5okRpKT1rgpyeqo1_250.gif" alt="animatedImage" style="height: 120px" />

 <img id="img1" src="https://33.media.tumblr.com/01e7b577cebeba1cc3f3bdcb0e8d54a3/tumblr_nf7qxyWhJ31tcl6yio1_500.gif" alt="animatedImage" style="height: 120px" />
</div>
<script>
var distanceBall=0; 
var directionBall=1; 
document.getElementById('animatedImage').style.top = 10;
document.getElementById('animatedImage').style.left = 10;
var timerToggle=null; 
animateBall();
var setting = 0;          

  function animateBall() {   
  document.getElementById("animatedImage").style.left=distanceBall + "px";
  
  distanceBall+=directionBall;

  if (distanceBall>window.screen.width -70) { 
  document.getElementById('animatedImage').style.top = 10;
  document.getElementById('animatedImage').style.left = 10;
  directionBall = -1;
  document.getElementById('img1').className = 'left';
  }

  if (distanceBall<0) {
  directionBall = 1;
  document.getElementById('img1').className = 'right';
  }

  timerToggle=setTimeout(function() { animateBall(); }, 0.1);
  }
</script>
<embed src="audio/xmas.mp3" autostart="true" loop="true" hidden="true">

</body>
</html>