<!DOCTYPE html>
<html>
<head>
  <title>Secret Santa</title>

  <!-- Little Icon On Tab -->
  <link rel="shortcut icon" type="image/png" href="http://www.woodus.com/den/gallery/graphics/dq9ds/head/santas_hat.png">


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<!-- SNOW FALL JS -->
<script src="snowstorm.js"></script>
<script src="friend.js"></script>


</head>
<body>

  <header>
    <h1>SECRET SANTA</h1>
  </header>




<p class="navbar-text pull-right">
  <% if user_signed_in? %>
   Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
   <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>
</p>

<div class="container">

  <%= yield %>

</div>

</body>
</html>